<a href="https://colab.research.google.com/github/RubenSicchar/Jornada-Python-Ci-ncia-de-Dados-com-Python/blob/main/Ciencia_de_Dados_Feulo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#nome

In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

Conhecendo o Dataset

In [4]:
df = pd.read_csv('train.csv')

In [5]:
df.head()

   id  age          job   marital  ... cons.conf.idx euribor3m nr.employed   y
0   0   52   technician  divorced  ...         -41.8     4.865      5228.1  no
1   1   36   management   married  ...         -42.0     4.153      5195.8  no
2   2   53  blue-collar   married  ...         -42.7     4.962      5228.1  no
3   3   45  blue-collar    single  ...         -31.4     0.879      5076.2  no
4   4   60    housemaid   married  ...         -36.4     4.858      5191.0  no

[5 rows x 22 columns]